<div class="content" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <app-navbar></app-navbar>
  <div class="table">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.title }}</mat-cell>
      </ng-container>

      <!-- List Column -->
      <ng-container matColumnDef="list">
        <mat-header-cell *matHeaderCellDef> List</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.list }}
        </mat-cell>
      </ng-container>

      <!-- Member Column -->
      <ng-container matColumnDef="member">
        <mat-header-cell *matHeaderCellDef> Member</mat-header-cell>
        <mat-cell class="member-hover" *matCellDef="let element"> {{ element.member }}
        </mat-cell>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> Label</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip aria-label="label">
            {{ element.label }}
          </mat-chip>
        </mat-cell>
      </ng-container>


      <!-- Note Column -->
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef> Note</mat-header-cell>
        <mat-cell class="note-hover" *matCellDef="let element">
          {{ element.note }}
        </mat-cell>
      </ng-container>


      <mat-header-row class="mat-header-fixed" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


  </div>
</div>




