<div class="container">
  <h2 mat-dialog-title>Create board</h2>
  <form [formGroup]="boardForm" style="width: 100%">
    <mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Board title</mat-label>
        <input matInput placeholder="Add your board title" formControlName="title">
      </mat-form-field>

      <div class="backgrounds">
        <p class="background-title">Background</p>
        <div class="background-images">
          <img class="background"
               src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/10/nuoi-meo-can-gi-0-1024x713.jpg"
               alt="Background image">
          <img class="background"
               src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/10/nuoi-meo-can-gi-0-1024x713.jpg"
               alt="Background image">
          <img class="background"
               src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/10/nuoi-meo-can-gi-0-1024x713.jpg"
               alt="Background image">
          <img class="background"
               src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/10/nuoi-meo-can-gi-0-1024x713.jpg"
               alt="Background image">
        </div>
        <div class="background-colors">
          @for (color of colorBackgrounds; track $index) {
            <div class="color-box" [style.background]="color" (click)="selectBackground(color)"></div>
          }
          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                 style="display: none;">
          <div class="color-box add-color" (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-flat-button (click)="createBoard()">Create</button>
      <button mat-stroked-button color="primary">Continue with template</button>
    </mat-dialog-actions>
  </form>

</div>
