<div class="container">
  <h2 mat-dialog-title>Create board</h2>
  <form [formGroup]="boardForm" style="width: 100%">
    <mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Board title</mat-label>
        <input matInput placeholder="Add your board title" formControlName="title">
      </mat-form-field>

      <div class="image-container" (click)="openFilePicker()">
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">

        @if (imagePreview) {
          <div class="image-box"
               [style.background-image]="'url(' + imagePreview + ')'">
            <img src="/assets/images/todo.svg" alt="">
          </div>
        } @else {
          <img src="/assets/images/add-image.png" alt="">
        }
      </div>


      <div class="backgrounds">
        <p class="background-title">Background</p>
        <div class="background-images">
          @for (background of imageBackgrounds; track $index) {
            <img class="background"
                 [src]="background.fileLocation"
                 alt="Background image">
          }
        </div>
        <div class="background-colors">
          @for (color of colorBackgrounds; track $index) {
            <div class="color-box" [style.background]="color" (click)="selectBackground(color)"></div>
          }
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-flat-button (click)="createBoard()">Create</button>
      <button mat-stroked-button color="primary">Continue with template</button>
    </mat-dialog-actions>
  </form>

</div>

