body {
  width: 100vw;
  height: 100vh;
  //box-shadow: #0a0b0b;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.full-width {
  width: 100%;
}
.background {
  width: 70px;
}
.background-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.image-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.color-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
