.container {
  width: 400px;

  p {
    margin: 0
  }

  .add-img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: var(--md-sys-color-outline-variant);
    border-radius: 10px;
    cursor: pointer;

    .add-color {
      background-color: var(--md-sys-color-outline-variant);
      overflow: hidden;
    }
  }

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;

    .full-width {
      width: 100%;
    }

    .backgrounds {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      width: 100%;
      margin-top: 16px;

      .background-title {
        font-size: 18px;
        font-weight: 500;
      }

      .background-images,
      .background-colors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .background {
          width: 70px;
          border-radius: 8px;
        }

        .color-box {
          width: 55px;
          height: 40px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  mat-dialog-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      width: 100%;
    }

    ::ng-deep.mat-mdc-button-base + .mat-mdc-button-base,
    ::ng-deep.mat-mdc-unelevated-button {
      width: 100%;
      margin: 0;
    }
  }
}

::ng-deep.cdk-overlay-dark-backdrop {
  background: none;
}

::ng-deep.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
  position: inherit !important;
  left: 260px;
  top: 10%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: unset !important;
}

::ng-deep.mdc-text-field {
  padding: 0 4px !important;
}

.image-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  gap: 10px;
  margin-top: 10px;
}

.image {
  width: 75px;
  height: 60px;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

.image-preview.ng-star-inserted {
  width: 75px;
  height: 60px;
  background-size: cover;
  border-radius: 10px;
}

remove-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.image-container {
  width: 100%;
  height: 180px;
  background-color: var(--md-sys-color-outline-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.image-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  img {
    width: 85%;
    height: auto;
    object-fit: cover;
  }
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
