<div class="container">
  <app-home-nav></app-home-nav>
  <div class="content">

    <div class="workspaces">
      <div class="titles">
        <img class="icon" src="/assets/images/your board.png"/>
        <p class="title">Your boards</p>
      </div>

      @if (isGettingBoards) {
        <ngx-skeleton-loader [theme]="{height: '135px', width: '19%', borderRadius: '10px'}"/>
      } @else {
        <div class="workspace">
          @if (boards$ | async; as data) {
            @if (data.length === 0) {
              <!-- Display this message if the user has no boards -->
              <p class="no-boards-message">You have no boards yet. Click the add button to start!</p>
            } @else {
              @for (board of data; track $index) {
                <div class="board-container"
                     (click)="navigateToBoard(board.id!)"
                     [ngStyle]="{'background-image': 'url(' + (board.backgroundId! | background | async) + ')'}">
                  <div class="overlay"></div>
                  <p class="board-name">{{ board.name }}</p>
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteBoard(board.id!, $event)">
                      <mat-icon>delete</mat-icon>
                      Delete
                    </button>
                  </mat-menu>
                </div>
              }
            }
          } @else {
            <ngx-skeleton-loader [theme]="{height: '135px', width: '19%', borderRadius: '10px'}"/>
          }
        </div>
      }
    </div>

    <div class="workspaces">
      <div class="titles">
        <img class="icon-invited" src="/assets/images/Invited boards.png"/>
        <p class="title">Invited boards</p>
      </div>

      @if (isGettingBoards) {
        <ngx-skeleton-loader [theme]="{height: '135px', width: '19%', borderRadius: '10px'}"/>
      } @else {
        <div class="workspace">
          @if (invitedBoards$ | async; as data) {
            @if (data.length === 0) {
              <!-- Display this message if the user has no invited boards -->
              <p class="no-boards-message">No invited boards yet. Ask your team to invite you!</p>
            } @else {
              @for (board of data; track $index) {
                <div class="board-container"
                     (click)="navigateToBoard(board.id!)"
                     [ngStyle]="{'background-image': 'url(' + (board.backgroundId! | background | async) + ')'}">
                  <div class="overlay"></div>
                  <p class="board-name">{{ board.name }}</p>
                </div>
              }
            }
          } @else {
            <ngx-skeleton-loader [theme]="{height: '135px', width: '19%', borderRadius: '10px'}"/>
          }
        </div>
      }
    </div>

  </div>
</div>
