body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 60px;
  height: calc(100% - 60px);
}

.titles {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 12px;

}

.create-board {
  border: 1px solid var(--md-sys-color-outline-variant);

  p {
    color: var(--md-sys-color-outline) !important;

  }
}

.board-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 19%;
  height: 135px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  button {
    z-index: 1;
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--md-sys-color-on-primary);
  }

  &:hover {
    .overlay {
      background: rgba(0, 0, 0, 0.58);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .board-name {
    position: relative;
    color: var(--md-sys-color-on-primary);
    font-size: 18px;
    z-index: 1;
  }

}

.your-workspace h1 {
  font-size: 20px;
  margin: 30px 0;
}

.your-workspace-titles {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
}

.workspace {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .new-container {
    width: 242px;
    height: 120px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .work-container {
    background-color: #2f6f64;
    color: white;
  }

  .personal-container {
    background-color: #750000;
    color: white;
  }

  .new-container {
    border: 1px solid black;
  }

  .work-container,
  .personal-container,
  .new-container {
    display: inline-block;
  }
}

