<div class="content">
  <app-home-nav></app-home-nav>
  <div class="container">
    <div class="templates">
      <div class="titles">
        <mat-icon class="material-symbols-outlined">difference</mat-icon>
        <p>Templates</p>
      </div>
      <div class="board-container">
        <p>Basic kanban</p>
      </div>
    </div>
    <div class="workspaces">
      <div class="titles">
        <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
        <p>Your workspaces</p>
      </div>
      <div class="workspace">
        @for (board of (boards$ | async); track $index) {
          <div class="board-container"
               [ngStyle]="{background: 'url(' + (board.backgroundId! | background | async) + ')'}">
            <p>{{ board.name }}</p>
          </div>
        }
        <div class="personal-container create-container">
          <p>Tạo bảng mới</p>
        </div>
      </div>
    </div>
  </div>
</div>

