@if (!(this.isGettingCard | async)) {
  <div class="task-description-overlay" (click)="onClose()">
    <div class="task-description-container" (click)="$event.stopPropagation()">
      <div class="task-description-header">
        <h2>Task description</h2>
        <div class="header-buttons">
          <!--        <button mat-stroked-button class="create-label-button" (click)="createLabel()">-->
          <!--          <mat-icon>add</mat-icon>-->
          <!--          Create Label-->
          <!--        </button>-->
          <button mat-icon-button class="close-button" (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="task-description-content">

        <!-- Title -->
        <form [formGroup]="taskUpdatedForm">
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" #titleInput>
            </mat-form-field>
          </div>

          <!-- Notes -->
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Notes</mat-label>
              <textarea matInput placeholder="Insert your notes here..."
                        formControlName="description"></textarea>
            </mat-form-field>
          </div>

          <!-- Assignee -->
          <div class="form-group">
            <label>Assignee</label>
            <div class="assignees-container">
              @for (assignee of this.task.members || []; track $index) {
                <div class="assignee-chip">
                  <div class="assignee-avatar">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <span class="assignee-name">{{ assignee.name }}</span>
                  <button mat-icon-button class="remove-assignee-button" (click)="removeAssignee(assignee.id)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              }
              <button mat-stroked-button class="add-assignee-button" (click)="showAssigneeSelector = true"
                      [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
                Add
              </button>
              <mat-menu #menu="matMenu">
                @for (member of this.boardMembers; track $index) {
                  <button mat-menu-item class="assignee-button" (click)="addNewMemberToCard(member.id)">
                    <img src="{{member.photoUrl}}" alt="">
                    <span class="assignee-name">{{ member.name }}</span>
                  </button>
                }
              </mat-menu>

            </div>
          </div>

          <div class="tag-date-container">
            <div class="tag-container">
              <div class="tag-header">
                <label>Tags</label>
              </div>
              <!-- Tags and Labels Buttons in the same row -->
              <div class="form-group tags-labels-row">
                @for (label of this.task.labels || []; track $index) {
                  <div class="tag"
                       [ngStyle]="{ backgroundColor: label.color}">
                    {{ label.name }}
                  </div>
                }

                <div class="add-tag-btn">
                  <button mat-stroked-button class="create-label-button tag" (click)="openLabelDialog()">
                    <mat-icon>add</mat-icon>
                    Add tag
                  </button>
                </div>
              </div>
            </div>

            <!-- Date -->
            <div class="form-group">
              <mat-form-field appearance="outline" class="date-field">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dueDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </form>

        <!-- Checklist -->
        <div class="form-group">
          <div class="checklist-header">
            <label>Checklist</label>
            <div class="subtasks-counter">{{ this.completedItems || 0 }}/{{ this.totalItems || 0 }}</div>
          </div>

          <mat-progress-bar mode="determinate" [value]="getCompletionPercentage()"
                            style="border-radius: 10px"></mat-progress-bar>

          <!-- Subtasks List -->
          <div class="subtasks-list">
            @for (subtask of task.checklistItems; track subtask.id) {
              <div class="subtask-item" [ngClass]="{'completed': subtask.isCompleted}">
                <mat-checkbox [checked]="subtask.isCompleted"
                              (change)="toggleSubtask(subtask.isCompleted, subtask.id!)">
                  {{ subtask.title }}
                </mat-checkbox>
                <button mat-icon-button class="remove-subtask-button" (click)="removeSubtask(subtask.id!)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            }

            <!-- Add New Subtask -->
            <form [formGroup]="subTaskForm">
              <div class="add-subtask-container">
                <mat-checkbox formControlName="isCompleted"></mat-checkbox>
                <input
                  matInput
                  formControlName="title"
                  class="subtask-input"
                  (keyup.enter)="addSubtask()"
                  placeholder="Add a new subtask">
                <button
                  mat-icon-button
                  (click)="addSubtask()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>


        <!-- Comments Section -->
        <div class="form-group">
          <label>Comments</label>

          <!-- Comments List -->
          <div class="comments-list">
            @for (comment of this.comments; track comment.id) {
              <div class="comment-item">
                <div class="comment-header">
                  <div class="comment-user">
                    <div class="user-avatar">
                      <img src="{{ (comment.userId! | user | async)?.photoUrl}}"
                           alt="">
                    </div>
                    <span class="user-name">{{ (comment.userId! | user | async)?.name }}</span>
                  </div>
                  <span class="comment-date">{{ comment.createdAt | date:'short' }}</span>
                </div>
                <div class="comment-content">
                  {{ comment.text }}
                </div>
                <div class="comment-actions">
                  <!--                  <button mat-button class="comment-action-btn">Reply</button>-->
                  <!--                  <button mat-button class="comment-action-btn" *ngIf="isCurrentUserAuthor(comment)">Edit</button>-->
                  <button mat-button class="comment-action-btn" *ngIf="isCurrentUserAuthor(comment)"
                          (click)="deleteComment(comment.id!)">Delete
                  </button>
                </div>
              </div>
            }
          </div>

          <!-- Add Comment -->
          <div class="add-comment-container">
            <div class="comment-input-wrapper">
              <div class="user-avatar">
                <img src="{{ (this.currentUser | user | async)?.photoUrl}}"
                     alt="">
              </div>
              <div class="comment-field-container">
                <mat-form-field appearance="outline" class="full-width">
                  <textarea
                    matInput
                    [(ngModel)]="newComment"
                    placeholder="Add your comment..."
                    #autosize="cdkTextareaAutosize"
                    [cdkTextareaAutosize]="false"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    (keydown)="handleCommentKeydown($event)"></textarea>
                  <div class="send-button-wrapper">
                    <button
                      mat-icon-button
                      class="send-button"
                      [disabled]="!newComment.trim()"
                      (click)="addComment()">
                      <mat-icon>send</mat-icon>
                    </button>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-description-footer">
        <button mat-stroked-button class="cancel-button" (click)="onClose()">Cancel</button>
        <button mat-flat-button color="primary" class="save-button" (click)="saveChanges()">Accept</button>
      </div>
    </div>
  </div>

}
