<div class="container">
  <h2 mat-dialog-title>Notifications</h2>
  <mat-dialog-content class="mat-typography notifications" (scroll)="onScroll($event)">
    <mat-list>
      @if (notiArray.length === 0) {
        <!-- Show this message when there are no notifications -->
        <p class="no-notifications-message">
          No notifications yet
        </p>
      } @else {
        @for (noti of notiArray; track $index) {
          @if (noti.type == 'invite_board') {
            <mat-list-item class="invite-noti">
              <mat-icon matListItemIcon>group_add</mat-icon>
              <div matListItemTitle matTooltip="{{ noti.senderName }} invited you to join {{ noti.boardName }}">
                {{ noti.senderName }} invited you to join {{ noti.boardName }}
              </div>
              <div matListItemLine>Accept or decline the invitation</div>
              <div class="btns">
                <button mat-stroked-button (click)="rejectInvitation(noti.id!)">Decline</button>
                <button mat-flat-button (click)="acceptInvitation(noti.id!,noti.boardId!,noti.senderId!)">Accept
                </button>
              </div>
            </mat-list-item>
          } @else if (noti.type == 'added_to_card') {
            <mat-list-item matTooltip="You were added to card {{ noti.cardTitle }}">
              <mat-icon matListItemIcon>add_card</mat-icon>
              <div matListItemTitle>You were added to card {{ noti.cardTitle }}</div>
              <div matListItemLine>{{ noti.createdAt | date }}</div>
            </mat-list-item>
          } @else if (noti.type == 'accept_invite') {
            <mat-list-item
              matTooltip="{{ noti.senderName }} has accepted the invitation to join {{ noti.boardName }}">
              <mat-icon matListItemIcon>library_add_check</mat-icon>
              <div matListItemTitle>{{ noti.senderName }} accepted your invitation to join {{ noti.boardName }}</div>
              <div matListItemLine>{{ noti.createdAt | date }}</div>
            </mat-list-item>
          } @else if (noti.type == 'removed_from_card') {
            <mat-list-item matTooltip="{{ noti.senderName }} removed you from card {{ noti.cardTitle }}">
              <mat-icon matListItemIcon>remove_circle</mat-icon>
              <div matListItemTitle>{{ noti.senderName }} removed you from card {{ noti.cardTitle }}</div>
              <div matListItemLine>{{ noti.createdAt | date }}</div>
            </mat-list-item>
          } @else if (noti.type == 'removed_from_board') {
            <mat-list-item matTooltip="{{ noti.senderName }} removed you from board {{ noti.boardName }}">
              <mat-icon matListItemIcon>cancel</mat-icon>
              <div matListItemTitle>{{ noti.senderName }} removed you from board {{ noti.boardName }}</div>
              <div matListItemLine>{{ noti.createdAt | date }}</div>
            </mat-list-item>
          } @else {
            <mat-list-item matTooltip="{{ noti.senderName }} declined your invitation">
              <mat-icon matListItemIcon>person_remove</mat-icon>
              <div matListItemTitle>{{ noti.senderName }} declined your invitation</div>
              <div matListItemLine>{{ noti.createdAt | date }}</div>
            </mat-list-item>
          }
        }
      }
      @if (isGettingNotifications) {
        <ngx-skeleton-loader count="5" appearance="line"/>
      }

    </mat-list>
  </mat-dialog-content>
</div>
