body {
  width: 100vw;
  height: 100vh;
  //box-shadow: #0a0b0b;
}

.notifications {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


mat-list {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: white;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep.cdk-overlay-dark-backdrop {
  background: none;
}

::ng-deep.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
  position: inherit !important;
  right: 20px;
  top: 47px;
}
