<div class="container">
  <h2 mat-dialog-title>Change background</h2>
  <mat-dialog-content>
    <div class="image-container">
      @if (imagePreview) {
        <div class="image-box"
             [style.background-image]="'url(' + imagePreview + ')'">
          <img src="/assets/images/todo.svg" alt="">
        </div>
      } @else {
        <img src="/assets/images/add-image.png" alt="">
      }
    </div>

    <div class="background-container">
      <div class="backgrounds">
        <p class="background-title">Background</p>
        <div class="background-images">
          @for (background of imageBackgrounds; track $index) {
            <img class="background"
                 [src]="background.fileLocation"
                 [ngClass]="this.imageUrl === background.fileLocation ? 'selected' : ''"
                 (click)="onBackgroundSelected(background.fileLocation)"
                 alt="Background image">
          }
        </div>
      </div>
      <div class="custom">
        <p class="background-title">Custom</p>

        <!-- Custom Button to Upload Image -->
        <div class="color-box add-image" (click)="fileInput.click()">
          <mat-icon>add</mat-icon>
        </div>

        <!-- Hidden Input for File Upload -->
        <input #fileInput type="file" (change)="onImageUpload($event)" accept="image/*" class="hidden-input">
      </div>
    </div>

    <div class="actions">
      <button mat-stroked-button mat-dialog-close (click)="closeDialog()">Cancel</button>
      <button mat-flat-button color="primary" (click)="onAccept()">Save</button>
    </div>

  </mat-dialog-content>
</div>

