.container {
  width: 350px;
  height: fit-content;
  background-color: var(--md-sys-color-surface);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.background-image {

  width: 100%;
  height: 30%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.background-title {
  font-size: 18px;
  font-weight: 500;
}

.backgrounds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;

  .background-images,
  .background-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .background {
      width: 70px;
      border-radius: 8px;
    }

    .color-box {
      width: 55px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .add-color {
      background-color: var(--md-sys-color-outline-variant);
    }
  }
}

.background-image-1 {
  //background-image: url(public/assets/images/background1.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.background-image-2 {
  //background-image: url(public/assets/images/background2.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.custom {
  width: 100%;
  height: 30%;
  margin-bottom: 10px;

  .hidden-input {
    display: none;
  }

  .add-image {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-outline-variant);
    margin-top: 12px;
    cursor: pointer;
  }
}

.btn-change {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--md-sys-color-primary);
  color: white;
  border: none;

  border-radius: 50px;
}

.btn-change:hover {
  background-color: var(--md-sys-color-primary-fixed);

}

.add-custom {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--md-sys-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

}

::ng-deep.mat-mdc-list-item.mdc-list-item.invite-noti.mdc-list-item--with-leading-icon.mdc-list-item--with-three-lines {
  height: fit-content;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep.cdk-overlay-dark-backdrop {
  background: none;
}

::ng-deep.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
  position: inherit !important;
  left: 35%;
  top: 47px;
}

::ng-deep.mat-mdc-dialog-content {
  max-height: 100%;
}


