<div class="login-container">
  <div class="login-left">
    <img src="/assets/images/login-image.png" alt="">
  </div>
  <div class="login-right">
    <div class="logo-title">
      <img class="logo" src="/assets/images/logo.png" alt="">
      <div class="title-text">
        <p class="welcome">Welcome to <b>Taskly</b>!</p>
        <p class="slogan">Make it snappy, Taskly keeps you happy!</p>
      </div>
    </div>
    <button (click)="login()" mat-flat-button class="btn-google">
      <img src="/assets/images/logo-google.png" alt="Google Icon"/>
      <p>Login with Google</p>
    </button>
  </div>
</div>
