.table {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  padding: 10px 10px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.mat-mdc-table {
  min-width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  flex: 1;
  background-color: var(--md-sys-color-on-primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: none;
}

.mat-column-name {
  height: 100px;
}

.mat-header-fixed {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--md-sys-color-on-primary);
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.member-hover {
  cursor: pointer;
  user-select: none;
}

.board-hover {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.material-symbols-outlined {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--md-sys-color-on-background);
}

mat-row:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: background-color 0.3s ease;
}

.overdue {
  color: red;
  font-weight: bold;
}

mat-paginator {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
