<div class="task-card" (click)="openDialog()">
  @if (Array.isArray(task.members) && task.members.length > 0) {
    <div class="task-header">
      <div class="left">
        <div class="assignees">
          @for (user of task.members; track $index) {
            <div class="avatar" [style.z-index]="100-$index" matTooltip="{{(user.user_id | user | async)?.name}}">
              <img [src]="(user.user_id | user | async)?.photoUrl" alt="(user.user_id | user | async)?.name"
                   style="width: 100%; height: 100%; border-radius: 100%">
            </div>
          }
        </div>

        <div class="task-title">
          {{ task.title }}
        </div>
      </div>

      <div class="task-actions">
        <button mat-icon-button class="more-button" (click)="showMoreOptions(); $event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button class="close-button" (click)="closeTask(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  } @else {
    <div class="task-header">
      <div class="task-title">
        {{ task.title }}
      </div>

      <div class="task-actions">
        <button mat-icon-button class="more-button" (click)="showMoreOptions(); $event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button class="close-button" (click)="closeTask(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  }



  <div class="tags-container">
    @for (label of task.labels; track $index) {
      <div class="tag" [ngStyle]="{ backgroundColor: (label.boardLabelId | label | async)?.color }">
        {{ (label.boardLabelId | label | async)?.name }}
      </div>

    }

  </div>


  <div class="task-footer">
    <div class="task-date">
      {{ task.dueDate | date:'d MMM yyyy' }}
    </div>
    <div class="task-status">
      <!--      <mat-checkbox [checked]="task.checklistItems === task.totalSubtasks" [disabled]="true" *ngIf="task.completedSubtasks === task.totalSubtasks"></mat-checkbox>-->
      <!--      <span *ngIf="task.completedSubtasks !== task.totalSubtasks">☐</span>-->
      <!--      {{task.completedSubtasks}}/{{task.totalSubtasks}}-->
    </div>
  </div>
</div>

