<!--<div class="kanban-container">-->
<!--  <div class="list-column">-->
<!--    <h2>Todo</h2>-->
<!--    <div-->
<!--      cdkDropList-->
<!--      #todoList="cdkDropList"-->
<!--      [cdkDropListData]="todo"-->
<!--      [cdkDropListConnectedTo]="[inProgressList, doneList]"-->
<!--      id="todo-list"-->
<!--      class="task-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <app-task *ngFor="let task of todo" [task]="task" cdkDrag></app-task>-->
<!--    </div>-->
<!--    <button mat-button class="add-task-button" (click)="addTask('todo')">-->
<!--      <mat-icon>add</mat-icon>-->
<!--      Add task-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="list-column">-->
<!--    <h2>In progress</h2>-->
<!--    <div-->
<!--      cdkDropList-->
<!--      #inProgressList="cdkDropList"-->
<!--      [cdkDropListData]="inProgress"-->
<!--      [cdkDropListConnectedTo]="[todoList, doneList]"-->
<!--      id="in-progress-list"-->
<!--      class="task-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <app-task *ngFor="let task of inProgress" [task]="task" cdkDrag></app-task>-->
<!--    </div>-->
<!--    <button mat-button class="add-task-button" (click)="addTask('inProgress')">-->
<!--      <mat-icon>add</mat-icon>-->
<!--      Add task-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="list-column">-->
<!--    <h2>Done</h2>-->
<!--    <div-->
<!--      cdkDropList-->
<!--      #doneList="cdkDropList"-->
<!--      [cdkDropListData]="done"-->
<!--      [cdkDropListConnectedTo]="[todoList, inProgressList]"-->
<!--      id="done-list"-->
<!--      class="task-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <app-task *ngFor="let task of done" [task]="task" cdkDrag></app-task>-->
<!--    </div>-->
<!--    <button mat-button class="add-task-button" (click)="addTask('done')">-->
<!--      <mat-icon>add</mat-icon>-->
<!--      Add task-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="list-column add-list-column">-->
<!--    <button mat-button class="add-list-button" (click)="addNewList()">-->
<!--      <mat-icon>add</mat-icon>-->
<!--      Add list-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<div
  cdkDropList
  cdkDropListGroup
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="lists"
  (cdkDropListDropped)="this.onColumnDrop($event)"
  class="list-container"
>
  @for (list of lists; track $index) {
    <div class="list-column" cdkDrag>
      <div class="list-header">
        <h2>{{ list.title }}</h2>

        <button mat-icon-button (click)="removeList(list.id!)">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div
        cdkDropList
        (cdkDropListDropped)="onCardDrop($event)"
        [cdkDropListData]="list.cards || []"
        [id]="indexToString($index)"
        class="task-list">

        @for (card of list.cards; track $index) {
          <app-task [task]="card" cdkDrag></app-task>
        }

      </div>
      @if (!list.isInEditMode) {
        <button mat-stroked-button class="add-task-button" (click)="addTask(list.id!)">
          <mat-icon>add</mat-icon>
          Add task
        </button>
      } @else {
        <div class="input-container">
          <mat-form-field>
            <mat-label>Task Name</mat-label>
            <input matInput #taskInput [formControl]="cardName" (keydown)="onEnterPress($event,list.id!)">
          </mat-form-field>
          <div class="btn-container">
            <button mat-stroked-button (click)="cancelEdit(list.id!)">Cancel</button>
            <button mat-flat-button (click)="createNewTask(list.id!)">
              <mat-icon>add</mat-icon>
              Add
            </button>
          </div>
        </div>
      }
    </div>
  }
  @if (!isAddingList) {
    <div class="list-column add-list-column">
      <button mat-button class="add-list-button" (click)="onBtnAddList()">
        <mat-icon>add</mat-icon>
        Add list
      </button>
    </div>
  } @else {
    <div class="list-column add-list-column">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Column Name</mat-label>
          <input #columnInput matInput [formControl]="listName">
        </mat-form-field>
        <div class="btn-container">
          <button mat-stroked-button (click)="cancelAddList()">Cancel</button>
          <button mat-flat-button (click)="addNewList()">
            <mat-icon>add</mat-icon>
            Add
          </button>
        </div>
      </div>


    </div>
  }
</div>
