.list-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  min-height: 500px;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 64px);

  .list-column {
    min-width: 280px;
    max-width: 280px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: fit-content;

    h2 {
      margin: 0 0 16px 0;
      font-size: 18px;
      font-weight: 500;
      //text-align: center;
    }

    .task-list {
      flex-grow: 1;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-height: 68vh;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 10px 0;
    }

    .add-task-button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #757575;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      padding: 8px;


      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .add-list-column {
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    width: 100%;

    .add-list-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 16px;
      color: #757575;
      width: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

/* Add these styles to handle drag and drop */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging app-task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-column .task-list:last-child {
  margin-bottom: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;


  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

::ng-deep.mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.addlist-container {
  display: flex;
  gap: 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(0, 0, 0, 0.06) !important;
}

/* Apply to the whole page */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  //height: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Light gray */
  border-radius: 10px;
}

/* Scrollbar thumb (movable part) */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
