<div class="content">
  <app-home-nav></app-home-nav>
  <div class="container">
    <div class="recently-titles">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="schedule"></mat-icon>
      <p>Đã xem gần đây</p>
    </div>
    <div class="recently-container">
      <p>chưa có bảng</p>
    </div>
    <div class="your-workspace">
      <h1>KHÔNG GIAN LÀM VIỆC</h1>
    </div>
    <div class="your-workspace-titles">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      <p>Không gian làm việc của bạn</p>
    </div>
    <div class="workspace">
      <div class="work-container">
        <p>Work</p>
      </div>
      <div class="personal-container">
        <p>Personal</p>
      </div>
      <div class="new-container">
        <p>Tạo bảng mới</p>
      </div>
    </div>
  </div>
</div>


