
  //background-color: var(--md-sys-color-primary);

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container {
    padding: 12px 24px;
    gap: 24px;
  }

  .recently-titles {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 21px;
  }

  .recently-container {
    width: 242px;
    height: 120px;
    padding: 20px;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
  }

  .your-workspace h1 {
    font-size: 20px;
    margin: 30px 0;
  }

  .your-workspace-titles {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }
.workspace {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  .work-container,
  .personal-container {
    width: 242px;
    height: 120px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .new-container {
    width: 242px;
    height: 120px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .work-container {
    background-color: #2f6f64;
    color: white;
  }

  .personal-container {
    background-color: #750000;
    color: white;
  }

  .new-container {
    border: 1px solid black;
  }

  .work-container,
  .personal-container,
  .new-container {
    display: inline-block;
  }
}

