<mat-toolbar class="navbar">
  <span class="logo">{{ logoText }}</span>

  <div class="divider"></div>

  <div class="search-container" #searchContainer>
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        matInput
        type="text"
        placeholder="Search"
        class="search-input"
        (input)="search($event)"
        (focus)="showSearchItems = true"
      >
    </div>
    @if (showSearchItems) {
      <div class="search-items">
        <mat-list>
          @for (item of boardItems; track $index) {
            <mat-list-item (click)="navigateToBoard(item.id)" class="search-item">
              <img [src]="item.backgroundId! | background | async" alt=""
                   matListItemIcon>
              <div matListItemTitle>
                {{ item.name }}
              </div>
            </mat-list-item>
          }
        </mat-list>
      </div>
    }
  </div>


  <span class="spacer"></span>

  <app-notifications-button></app-notifications-button>

  <app-logout-button></app-logout-button>
</mat-toolbar>
