.navbar {
  //background-color: rgba(255, 255, 255, 0.24);
  background-color: var(--md-sys-color-on-secondary-container);
  //backdrop-filter: blur(4px);
  color: var(--md-sys-color-on-background);
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 60px;

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 16px;
  }

  .spacer {
    flex: 1;
  }

  .search {
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-surface-variant);
    border-radius: 30px;
    padding: 4px 8px;
    width: 380px;
    margin-left: 16px;
    height: 38px;
    position: relative;

    input {
      background-color: var(--md-sys-color-surface-container);
      font-size: 16px;
      line-height: 16px;
    }
  }

  .search-items {
    position: absolute;
    width: 380px;
    padding: 8px;
    background-color: var(--md-sys-color-on-primary);
    z-index: 999;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    img {
      width: 32px;
      height: 24px;
      border-radius: 4px;
    }
  }

  .search-icon {
    color: var(--md-sys-color-outline);
    margin-right: 8px;
  }

  .search-input {
    border: none;
    outline: none;
    width: 100%;
  }

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

.divider {
  height: 24px;
  width: 1px;
  background-color: var(--md-sys-color-outline-variant);
  margin: 0 8px;
}
