<div class="example-container"
     [ngStyle]="{'background-color': sidebarColor, 'color': sidebarTextColor}">
  <div [ngStyle]="{'background-color': sidebarColor, 'color': sidebarTextColor}">
    <div class="logo" [ngStyle]="{'color': sidebarTextColor}">
      <img src="{{logoImage}}" alt="logo" class="logo-img">
      Taskly
    </div>

    @if (user) {
      <div class="profile">
        <img src="{{this.user.photoUrl  }}"
             alt="Profile">
        <div class="info">
          <p>{{ this.user.name }}</p>
          <!--        <span [ngStyle]="{'color': sidebarTextColor}">Workspace Account</span>-->
        </div>
      </div>
    }


    <mat-selection-list>
      <mat-list-item [routerLink]="['home']">
        <mat-icon [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined">home</mat-icon>
        <span [ngStyle]="{'color': sidebarTextColor}">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['alltasks']">
        <mat-icon [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined">send</mat-icon>
        <span [ngStyle]="{'color': sidebarTextColor}">All my tasks</span>
      </mat-list-item>
    </mat-selection-list>

    <p class="section-title" [ngStyle]="{'color': sidebarTextColor}">
      My boards
      <mat-icon (click)="openDialog()" [ngStyle]="{'color': sidebarTextColor}"
                class="material-symbols-outlined add-board-btn">add
      </mat-icon>
    </p>
    <mat-selection-list>
      @for (board of (boards$ | async); track $index) {
        <mat-list-item [routerLink]="['board','kanban', board.id]">
          <img
            src="{{ board.backgroundId !| background | async }}"
            alt="" class="background">
          <span [ngStyle]="{'color': sidebarTextColor}">{{ board.name }}</span>
        </mat-list-item>
      }
    </mat-selection-list>

    <p class="section-title" [ngStyle]="{'color': sidebarTextColor}">Invited boards</p>
    <mat-selection-list>
      @for (board of invitedBoards; track $index) {
        <mat-list-item>
          <img
            src="{{ board.background }}"
            alt="" class="background">
          <span [ngStyle]="{'color': sidebarTextColor}">{{ board.name }}</span>
        </mat-list-item>
      }
    </mat-selection-list>
  </div>
</div>
