<div class="example-container"
     [ngStyle]="{'background-color': sidebarColor, 'color': sidebarTextColor}">
  <div [ngStyle]="{'background-color': sidebarColor, 'color': sidebarTextColor}">
    <div class="logo">
      <mat-icon [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined">assignment</mat-icon>
      Taskly
    </div>

    <div class="profile">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw4xIzlTTRJKIQB1tq1Jbs5Rfj7hU6h1UtPg&s"
           alt="Profile">
      <div class="info">
        <p>Name</p>
        <span [ngStyle]="{'color': sidebarTextColor}">Workspace Account</span>
      </div>
    </div>

    <mat-selection-list>
      <mat-list-item [routerLink]="['home']">
        <mat-icon [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined">home</mat-icon>
        <span [ngStyle]="{'color': sidebarTextColor}">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['alltasks']">
        <mat-icon [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined">send</mat-icon>
        <span [ngStyle]="{'color': sidebarTextColor}">All my tasks</span>
      </mat-list-item>
    </mat-selection-list>

    <p class="section-title" [ngStyle]="{'color': sidebarTextColor}">
      My boards
      <mat-icon (click)="openDialog()" [ngStyle]="{'color': sidebarTextColor}" class="material-symbols-outlined add-board-btn">add</mat-icon>
    </p>
    <mat-selection-list>
      @for (board of boards; track $index) {
        <mat-list-item [routerLink]="['kanban']">
          <img
            src="{{ board.background }}"
            alt="" class="background">
          <span [ngStyle]="{'color': sidebarTextColor}">{{ board.name }}</span>
        </mat-list-item>
      }
    </mat-selection-list>

    <p class="section-title" [ngStyle]="{'color': sidebarTextColor}">Invited boards</p>
    <mat-selection-list>
      @for (board of invitedBoards; track $index) {
        <mat-list-item>
          <img
            src="{{ board.background }}"
            alt="" class="background">
          <span [ngStyle]="{'color': sidebarTextColor}">{{ board.name }}</span>
        </mat-list-item>
      }
    </mat-selection-list>
  </div>
</div>
