* {
  user-select: none;
  box-sizing: border-box;
}

mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--md-sys-color-shadow);
  margin-bottom: 2px;
}

mat-list {
  padding: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 260px;
  padding: 12px;
}

mat-drawer {
  width: 260px;
  padding: 12px;
  border: none;
  border-radius: unset;
}

.logo {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 4px;
  padding-bottom: 16px;
  color: var(--md-sys-color-primary);
  cursor: pointer;

  .logo-img {
    width: 30px;
    height: auto;
    object-fit: cover;
  }
}

.profile {
  text-align: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      font-weight: bold;
      margin: 0;
    }

    span {
      font-size: 12px;
      color: var(--md-sys-color-shadow);
    }
  }
}

mat-list-item {
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 8px;

  &.active-link {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .background {
    border-radius: 4px;
    width: 30px;
    height: 20px;
    margin-right: 8px;
  }

  ::ng-deep.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    height: 45px;
  }

  mat-icon {
    margin-right: 8px;
  }
}

::ng-deep.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
  height: 40px;
}


.section-title {
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 0 0;
  color: var(--md-sys-color-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add-board-btn {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: var(--md-sys-color-surface-container-high);
      border-radius: 4px;
    }

    &:active {
      background-color: var(--md-sys-color-surface-container-highest);
      transition-duration: 225ms;
      transform: scale3d(1, 1, 1);
    }
  }
}

.content {
  padding: 16px;
}

mat-toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
