<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Label</h2>
<mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Search your label...</mat-label>
    <input matInput [(ngModel)]="searchText">
  </mat-form-field>

  <div class="label-list">
    <mat-selection-list #selectionColor>
      <div class="label-item" *ngFor="let label of filteredLabels()">

        <span class="label-color" [ngStyle]="{'background-color': label.color}"></span>
        <mat-list-option [value]="label" [selected]="label.selected">
          {{ label.name }}
        </mat-list-option>

        <button mat-icon-button color="warn" (click)="deleteLabel(label)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-selection-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-stroked-button color="primary" (click)="createNewLabel()">Create New Labels</button>
  <button mat-button (click)="addLabelsToCard()">Add To Task</button>
</mat-dialog-actions>
