<div class="container">
  <h2 mat-dialog-title>Share board</h2>
  <mat-dialog-content>
    <div class="share">
      <div class="example-form">
        <!--        <mat-form-field class="example-full-width">-->
        <!--          <mat-label>Invite members</mat-label>-->
        <!--          <input matInput placeholder="Member email" [(ngModel)]="userName" (input)="onUserNameChange()">-->
        <!--        </mat-form-field>-->
        <mat-form-field class="example-chip-list">
          <mat-label>Invite members</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            @for (user of this.users(); track $index) {
              <mat-chip-row
                [editable]="false"
              >
                {{ user.name }}
                <button matChipRemove [attr.aria-label]="'remove ' + user.name" (click)="remove(user)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
            <input
              matInput placeholder="Member email"
              [(ngModel)]="userName"
              (input)="onUserNameChange()"
              [matChipInputFor]="chipGrid"
              (keydown)="add($event)"
            />
          </mat-chip-grid>
        </mat-form-field>

        @for (user of (this.searchUser$ | async); track $index) {
          <div class="user-container">
            <img class="avatar"
                 [src]="user.photoUrl"
                 alt=""
                 matListItemIcon>
            <div class="user-info">
              <p class="user-name">{{ user.name }}</p>
              <span class="user-email">{{ user.email }}</span>
            </div>
          </div>
        }

        <button mat-flat-button class="share-btn" (click)="inviteUsers()">Share</button>
      </div>
      
      <h3>Owner</h3>
      <div class="members-container">
        <img class="avatar"
             src="{{(this.owener | user | async)?.photoUrl}}"
             alt=""
             matListItemIcon>
        <div class="user-info">
          <p class="user-name">{{ (this.owener | user | async)?.name }}</p>
          <span class="user-email">{{ (this.owener | user | async)?.email }}</span>
        </div>
      </div>

      <h3>Members</h3>
      <div class="members-container">
        <img class="avatar"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw4xIzlTTRJKIQB1tq1Jbs5Rfj7hU6h1UtPg&s"
             alt=""
             matListItemIcon>
        <div class="user-info">
          <p class="user-name">Trinh Tu Hao</p>
          <span class="user-email">tuhaotrinh</span>
        </div>
      </div>
    </div>
    <!--    <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">-->
    <!--      Snackbar-->
    <!--    </button>-->
  </mat-dialog-content>
  <!--  <mat-dialog-actions>-->
  <!--    <button mat-button mat-dialog-close>No</button>-->
  <!--    <button mat-button mat-dialog-close>Ok</button>-->
  <!--  </mat-dialog-actions>-->
</div>
