.container {
  background-color: var(--md-sys-color-surface-container-lowest);
  width: 550px;
  border-radius: 10px;

  mat-dialog-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .share {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .example-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      width: 100%;
    }

    mat-form-field {
      border-radius: 15px;
      max-width: 80%;
      width: 80%;
      position: relative;
    }

    .divider {
      display: table-cell;
      max-width: 600px;
      margin: 15px;
      //background-color: var(--md-sys-color-primary-container);
    }

    .share-btn {
      background-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-on-primary)
    }

    .user-container {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      width: 73%;
      padding: 8px;
      background-color: var(--md-sys-color-on-primary);
      z-index: 999;
      border-radius: 16px;
      margin-top: 114px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    .members-container {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 8px;
    }

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .user-name {
        font-size: 16px;
        line-height: 16px;
      }

      .user-email {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

//::ng-deep.cdk-overlay-dark-backdrop {
//  background: none;
//}
//
//::ng-deep.cdk-global-overlay-wrapper {
//  display: flex;
//  justify-content: flex-end !important;
//  align-items: flex-start !important;
//}
//
::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
  position: inherit !important;
  top: 47px;
}
