<div class="kanban-container">
  <div class="list-column">
    <h2>Todo</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, doneList]"
      id="todo-list"
      class="task-list"
      (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of todo" [task]="task" cdkDrag></app-task>
    </div>
    <button mat-button class="add-task-button" (click)="addTask('todo')">
      <mat-icon>add</mat-icon> Add task
    </button>
  </div>

  <div class="list-column">
    <h2>In progress</h2>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      id="in-progress-list"
      class="task-list"
      (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of inProgress" [task]="task" cdkDrag></app-task>
    </div>
    <button mat-button class="add-task-button" (click)="addTask('inProgress')">
      <mat-icon>add</mat-icon> Add task
    </button>
  </div>

  <div class="list-column">
    <h2>Done</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      id="done-list"
      class="task-list"
      (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of done" [task]="task" cdkDrag></app-task>
    </div>
    <button mat-button class="add-task-button" (click)="addTask('done')">
      <mat-icon>add</mat-icon> Add task
    </button>
  </div>

  <div class="list-column add-list-column">
    <button mat-button class="add-list-button" (click)="addNewList()">
      <mat-icon>add</mat-icon> Add list
    </button>
  </div>
</div>
